[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/digitalcraftsman/hugo-icarus-theme.git
